@model Support.CategoryModel

@{
    ViewData[ "Title" ] = "Admin - Create Categories";
}
<main class="home-section">
    <div class="text">
        <h1>Category</h1>
        <h2>@ViewData[ "TitleCreate" ]</h2>

        <section class="Createform">
            <form asp-controller="Category" asp-action="Create" method="post" enctype="multipart/form-data">
                <partial name="_Error" />

                <div>
                    <div>
                        <label asp-for="name" class="required">Name:</label>
                        <input required asp-for="name" placeholder="Name" />
                    </div>
                </div>

                <div>
                    <div>
                        <button type="submit" class="mainButton">@ViewData[ "ButtonCreate" ]</button>
                    </div>

                </div>

            </form>
        </section>


    </div>
</main>