<footer class="footer">
    <a asp-action="LogInForm" asp-controller="Admin">
        <img src="~/img/Banner/LogoCompleto.png" alt="footer banner" />
        <p>@DateTime.Now.Year - Cristina Carbonell Matamoros</p>
    </a>
</footer>