<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    @*<link rel="stylesheet" href="~/View.styles.css" asp-append-version="true" />*@

    <script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="/css/select2.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
    @if (ViewData["AdminType"] != null)
    {
        <partial name="_LateralMenu" />
    }
    
    @RenderBody()

    
    @if ( ViewData[ "AdminType" ] != null )
    {
        <script src="~/js/lateralMenu.js"></script>
        <script src="~/js/deleteModal.js"></script>
    }
    <script src="https://kit.fontawesome.com/cad62e36d9.js" crossorigin="anonymous"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/select2Mine.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
