@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Home";
}
@*<partial name="_LateralMenu" />*@
<partial name="_LateralMenu" />


<main class="home-section">
    <div class="text">
        <h1>Welcome</h1>
        <h2>@ViewBag.AdminFullName</h2>

        <p>Hola, esto es un texto de prueba</p>
    </div>
</main>