@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Home";
}

<main class="home-section">
    <div class="text">
        <h1>@ViewData["Welcome"]</h1>
        <h2>@ViewBag.AdminFullName</h2>

    </div>
</main>