@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Home";
}
@*<partial name="_LateralMenu" />*@
@await Html.PartialAsync("_LateralMenu", ViewContext)


<main class="home-section">
    <div class="text">
        <h1>Welcome</h1>
        <h2>Cristina Carbonell Matamoros</h2>

        <p>Hola, esto es un texto de prueba</p>
    </div>
</main>