@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Languages";
}

@await Html.PartialAsync("_LateralMenu", ViewContext)

<main class="home-section">
    <div class="text">
        <h1>Languages</h1>

        <h3>This is the Users tab. all registered users information will be displayed here.</h3>
    </div>
</main>