@model Support.AdminLogIn
@{
    ViewData[ "Title" ] = "Admin - Login";
}

<header class="AdminHeader">
    <img src="~/img/Banner/Logo.png" alt="Logo" />
    <p>Gamer Nest</p>
</header>

<main class="AdminLogIn">
    <h1>Admin Log In</h1>
    <section>
        <div class="form">
            <form asp-controller="Admin" asp-action="LogIn" method="post">
                @if (ViewBag.UsuMessage != null)
                {
                    <p class="error">@ViewBag.UsuMessage</p>
                }
                else if (ViewBag.Message != null)
                {
                    <p class="error">@ViewBag.Message</p>
                }

                <div>
                    <label asp-for="email">Email:</label>
                    <input asp-for="email" placeholder="email" />
                </div>
                <div>
                    <label asp-for="email">Password:</label>
                    <input asp-for="password" type="password" placeholder="password"/>
                </div>
                <button type="submit" class="mainButton">Log in</button>
            </form>
        </div>
    </section>
    <a asp-controller="Articles" asp-action="Index">
        <i class="fa-solid fa-arrow-left"></i>
        <span>Return</span>
    </a>
</main>