@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Platforms";
}


<partial name="_LateralMenu" />

<main class="home-section">
    <div class="text">
        <h1>Platforms</h1>

        <h3>This is the Users tab. all registered users information will be displayed here.</h3>
    </div>
</main>