@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Añadir siempre Normalize.css a los proyectos porque hace que se vea lo mas parecido posible en todos los navegadores!!!
Acordarse de añadirlo en html también
<link rel="preload" href="css/normailize.css" as="style">
<link href="css/normailize.css" rel="stylesheet"> */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid #FCFCFC;
}
.modal h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.modal .modal-actions {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}
.modal .modal-actions [id^=confirmBtn] {
  display: block;
  max-width: 100%;
  padding: 1rem;
  background-color: #FFB100;
  color: #FCFCFC;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FCFCFC;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  text-shadow: -1px -1px 0 #292929, 1px -1px 0 #292929, -1px 1px 0 #292929, 1px 1px 0 #292929;
}
@media (max-width: 767px) {
  .modal .modal-actions [id^=confirmBtn] {
    display: block;
    width: 100%;
  }
}
.modal .modal-actions [id^=confirmBtn]:hover {
  background-color: #e69f00;
  color: #efefef;
}
.modal .modal-actions [id^=cancelBtn] {
  display: block;
  max-width: 100%;
  padding: 1rem;
  background-color: #555555;
  color: #FCFCFC;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FCFCFC;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 767px) {
  .modal .modal-actions [id^=cancelBtn] {
    display: block;
    width: 100%;
  }
}
.modal .modal-actions [id^=cancelBtn]:hover {
  background-color: #484848;
  color: #efefef;
}
@media screen and (max-width: 768px) {
  .modal {
    position: absolute;
  }
  .modal .modal-content {
    display: block;
  }
  .modal .modal-actions {
    display: block;
  }
  .modal .modal-actions [id^=confirmBtn] {
    margin-bottom: 1rem;
    display: block;
    max-width: 100%;
    padding: 1rem;
    background-color: #FFB100;
    color: #FCFCFC;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FCFCFC;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    text-shadow: -1px -1px 0 #292929, 1px -1px 0 #292929, -1px 1px 0 #292929, 1px 1px 0 #292929;
  }
}
@media screen and (max-width: 768px) and (max-width: 767px) {
  .modal .modal-actions [id^=confirmBtn] {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .modal .modal-actions [id^=confirmBtn]:hover {
    background-color: #e69f00;
    color: #efefef;
  }
}
@media screen and (max-width: 768px) {
  .modal .modal-actions [id^=cancelBtn] {
    display: block;
    max-width: 100%;
    padding: 1rem;
    background-color: #555555;
    color: #FCFCFC;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FCFCFC;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 767px) {
  .modal .modal-actions [id^=cancelBtn] {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .modal .modal-actions [id^=cancelBtn]:hover {
    background-color: #484848;
    color: #efefef;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.pagination div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.pagination div:last-child {
  margin-bottom: 0;
}
.pagination div p {
  margin-right: 10px;
  font-size: 14px;
}
.pagination div a {
  display: block;
  max-width: 100%;
  padding: 1rem;
  background-color: #FFB100;
  color: #FCFCFC;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FCFCFC;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-right: 2rem;
}
@media (max-width: 767px) {
  .pagination div a {
    display: block;
    width: 100%;
  }
}
.pagination div a:hover {
  background-color: #e69f00;
  color: #efefef;
}
.pagination div a:last-child {
  margin-right: 0;
}
.pagination div a.disabled {
  background-color: #555555;
  pointer-events: none;
  cursor: not-allowed;
}

html {
  font-size: 62.5%; /*For the rem*/
  box-sizing: border-box;
  color: #FCFCFC;
  background-color: #292929;
  font-family: "Quantico", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-color: #1C1C1C;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar i {
  color: #FCFCFC;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #555555;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar li a:hover {
  background-color: #555555;
}
.sidebar li a:hover .links_name {
  transition: all 0.5s ease;
  color: #FFB100;
}
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #FFB100;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background-color: #555555;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1C1C1C;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar li.profile .name {
  font-size: 12px;
  font-weight: 700;
  color: #FFB100;
}
.sidebar li.profile .job {
  font-size: 10px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #1C1C1C;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar:not(.open) #btn {
  opacity: 0;
}

.sidebar.open {
  width: 250px;
}
.sidebar.open .logo-details .icon {
  opacity: 1;
}
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

@media (max-width: 767px) {
  .sidebar #btn {
    display: none;
  }
  .sidebar li .tooltip {
    display: none;
  }
}
.AdminHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
.AdminHeader img {
  width: 5rem;
  margin-right: 0.5rem;
}
.AdminHeader p {
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFB100;
}
@media (max-width: 767px) {
  .AdminHeader {
    flex-direction: row;
    justify-content: center;
  }
}

.AdminLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}
.AdminLogIn h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.AdminLogIn section {
  max-width: 50%;
  width: 100%;
  padding: 20px;
  background-color: #1C1C1C;
  border-radius: 10px;
  margin: 2rem 0;
}
@media (max-width: 767px) {
  .AdminLogIn section {
    max-width: 90%;
  }
}
.AdminLogIn section .form {
  margin-top: 20px;
}
.AdminLogIn section .form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #FFB100;
}
.AdminLogIn section .form input {
  width: 100%;
  padding: 10px;
  border-radius: 1rem;
  border: 1px solid #292929;
  margin-bottom: 2rem;
}
.AdminLogIn section .form .error {
  color: #FFB100;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: #555555;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.AdminLogIn section .form .mainButton {
  display: block;
  max-width: 100%;
  padding: 1rem;
  background-color: #FFB100;
  color: #FCFCFC;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FCFCFC;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  text-shadow: -1px -1px 0 #292929, 1px -1px 0 #292929, -1px 1px 0 #292929, 1px 1px 0 #292929;
  margin-left: auto;
}
@media (max-width: 767px) {
  .AdminLogIn section .form .mainButton {
    display: block;
    width: 100%;
  }
}
.AdminLogIn section .form .mainButton:hover {
  background-color: #e69f00;
  color: #efefef;
}
.AdminLogIn a {
  text-decoration: none;
  display: block;
  max-width: 100%;
  padding: 1rem;
  background-color: #555555;
  color: #FCFCFC;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FCFCFC;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 767px) {
  .AdminLogIn a {
    display: block;
    width: 100%;
  }
}
.AdminLogIn a:hover {
  background-color: #484848;
  color: #efefef;
}
@media (max-width: 767px) {
  .AdminLogIn a {
    margin-top: 2rem;
    max-width: 70%;
  }
}

.adminTable {
  margin-top: 3rem;
  overflow-x: auto;
}
.adminTable table {
  width: 100%;
  border-collapse: collapse;
}
.adminTable th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1C1C1C;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  text-align: center;
}
.adminTable th:first-child {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.adminTable th:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.adminTable td {
  padding: 10px;
  border-bottom: 1px solid #FCFCFC;
  text-align: center;
}
.adminTable td a {
  color: #FFB100;
  margin-right: 1rem;
  cursor: pointer;
}
.adminTable td a:hover {
  color: #cc8e00;
}
.adminTable .checkmark-icon {
  color: #3c763d;
}
.adminTable .xmark-icon {
  color: #a94442;
}
.adminTable .image-cell {
  max-width: 100px;
  max-height: 100px;
}
@media screen and (max-width: 600px) {
  .adminTable table {
    font-size: 12px;
  }
  .adminTable th,
  .adminTable td {
    padding: 5px;
  }
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  font-size: 1.5rem;
}
.home-section .text {
  display: inline-block;
  margin: 1.8rem;
  width: calc(100% - 78px);
}
.home-section .text h1 {
  text-transform: uppercase;
  text-align: center;
}
.home-section .text h2 {
  color: #FFB100;
  text-transform: uppercase;
  text-align: center;
}
.home-section .text h3 {
  padding: 1rem 0rem;
  text-align: center;
  background-color: #555555;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.linkActive {
  color: #FFB100;
}
.linkActive i {
  color: #FFB100;
}

html {
  font-size: 0.9rem;
}
