@model Support.DevPublisherModel

@{
    ViewData[ "Title" ] = "Admin - Create Dev";
}
<main class="home-section">
    <div class="text">
        <h1>Dev</h1>
        <h2>@ViewData[ "TitleCreate" ]</h2>

        <section class="Createform">
            <form asp-controller="AdminDev" asp-action="Create" method="post" enctype="multipart/form-data">
                <partial name="_Error" />

                <div>
                    <div>
                        <label asp-for="name" class="required">@ViewData[ "fName" ]:</label>
                        <input required asp-for="name" placeholder="@ViewData[ "fName" ]" />
                    </div>
                </div>

                <div>
                    <div>
                        <button type="submit" class="mainButton">@ViewData[ "ButtonCreate" ]</button>
                    </div>

                </div>

            </form>
        </section>


    </div>
</main>