@model Support.ModelList
@{
    ViewData["Title"] = "Admin - Articles";
}

<main class="home-section">
    <div class="text">
        <h1>Articles</h1>

        <h3>This is the Users tab. all registered users information will be displayed here.</h3>


    </div>
</main>