@import "../Utilities/variables";

.AllGames
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div
    {
        display: flex;
        flex-direction: row;

        .aGame
        {
            background-color: $terciary;
            border-radius: 1.5rem;
            padding: 1rem;
            text-decoration: none;
            color: $light;
            margin-top: 2rem;

            &:hover
            {
                background-color: darken($terciary, 10%)
            }

            .cardGame
            {
                display: flex;
                flex-direction: row;
                height: auto;
                width: 40rem;



                .img
                {
                    img
                    {
                        max-width: 12rem;
                        margin-right: 10px;
                    }
                }

                .info
                {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .icons
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: 1rem;

                        .platform
                        {
                            color: $primary;
                        }
                    }

                    .titAndSub
                    {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        height: 100%;
                        justify-content: center;

                        .title
                        {
                            color: $primary;
                            text-align: center;
                        }

                        .subtitle
                        {
                            text-align: center;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

        .favButton
        {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            div
            {
                padding: 1rem;
                background-color: $terciary;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;

                .isFav, .isNotFav
                {
                    background-color: $secondary;
                    padding: 1rem;
                    border-radius: 1rem;
                    border: 1px solid $light;
                    font-size: 2.3rem;

                    &:hover
                    {
                        background-color: darken($secondary, 10%);
                    }
                }

                .isFav
                {
                    color: $primary;
                }

                .isNotFav
                {
                    color: $light;
                }
            }
        }
    }
}
