@import '_normalMenu.scss', '_articleIndex.scss', '_allGames.scss', '_userJoin.scss', '_userpage.scss', '_footer.scss';

.home-user
{
    font-size: 1.5rem;

    .text
    {
        display: inline-block;
        width: 100%;

        h1
        {
            text-transform: uppercase;
            text-align: center;
            color: $primary;
        }

        h2
        {
            color: $primary;
            text-transform: uppercase;
            text-align: center;
        }

        h3
        {
            padding: 1rem 0rem;
            text-align: center;
            background-color: $terciary;
            -webkit-border-radius: 2.5rem;
            -moz-border-radius: 2.5rem;
            border-radius: 2.5rem;
        }
    }
}