@import '../Utilities/_variables.scss', '../Utilities/_mixins.scss';

.gameFile
{
    background-color: $secondary;
    margin: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    border-radius: 3rem;

    .img
    {
        margin-right: 2rem;

        img
        {
            border-radius: 3rem;
        }
    }

    .icons
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .favButton
        {
            div
            {
                .isFav, .isNotFav
                {
                    background-color: $terciary;
                    padding: 1rem 1.5rem;
                    border-radius: 1rem;
                    border: 1px solid $light;
                    font-size: 2rem;

                    &:hover
                    {
                        background-color: darken($terciary, 10%);
                    }
                }

                .isFav
                {
                    color: $primary;
                }

                .isNotFav
                {
                    color: $light;
                }
            }
        }

        .seeNews
        {
            a
            {
                text-decoration: none;
                @include button($terciary, $light);
            }
        }
    }

    .info
    {

        .firstRow
        {
            display: flex;
            align-items: center;
            justify-content: center;

            h1
            {
                margin-right: 1rem;
            }
        }

        hr
        {
        }

        .info2
        {
            margin-top: 1rem;

            .div1
            {
                border-bottom: 2px solid $light;

                .secondRow
                {
                    column-count: 2;
                    margin-bottom: 1rem;

                    .secondFirstRow
                    {
                    }

                    .secondSecondRow
                    {
                    }
                }

                .thirdRow
                {
                    column-count: 2;
                    margin-bottom: 1rem;

                    .thirdFirstRow
                    {
                    }

                    .thirdSecondRow
                    {
                    }
                }
            }

            .div2
            {
                border-bottom: 2px solid $light;

                .fourthRow
                {
                    margin-top: 1rem;

                    .playerTypes
                    {
                        span
                        {
                            margin-right: 0.5rem;
                        }
                    }
                }

                .fifthRow
                {
                    .languages
                    {
                        span
                        {
                            margin-right: 0.5rem;
                        }
                    }
                }

                .sixthRow
                {
                    margin-bottom: 1rem;

                    .genres
                    {
                        span
                        {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            .seventhRow
            {
                margin: 3rem;
                background-color: $terciary;
                padding: 2rem;
                border-radius: 2rem;

                .description
                {
                    .title
                    {
                    }

                    .desc
                    {
                        text-align: justify;
                    }
                }
            }
        }
    }
}
