@import '../Utilities/_variables.scss', '../Utilities/_mixins.scss';

.normalMenu
{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 1rem auto;
    padding: 0 20px;

    .firstRow
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-details
        {
            display: flex;
            align-items: center;

            img
            {
                max-width: 22rem;
                margin-right: 0.5rem; /* Add margin to separate the logo name */
            }

            .logo_name
            {
                font-size: 2rem;
                font-weight: 600;
                color: $primary;
                text-transform: uppercase;
            }
        }
    }

    .flags
    {
        font-size: 2rem;

        .fi-es
        {
            margin-left: 1rem;
        }
    }

    .userSession
    {
        display: flex;
        align-items: center;

        .join, .login, .closeSession
        {
            text-decoration: none;
            font-size: 1.5rem;
        }

        .join
        {
            color: $primary;
            margin-right: 1.5rem;
            font-size: 2rem;
            font-weight: bold;
        }

        &:hover
        {
            color: darken($primary, 10%);
        }

        .login, .closeSession
        {
            color: $light;
        }


        .closeSession
        {
            margin-right: 1.5rem;
        }

        &:hover
        {
            color: darken($light, 10%);
        }

        .avatar
        {
            img
            {
                max-width: 5rem;
                border-radius: 2.5rem;
            }
        }
    }

    .secondRow
    {
        display: flex;
        flex-direction: row;
        margin: 1.5rem;
        border-bottom: 4px solid $light;

        .borderr
        {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;

            .navButtons
            {
                display: flex;
                flex-direction: row;

                .News
                {
                    /* Styles for the news button */
                    a
                    {
                        @include button($secondary, $light, 100%);
                        padding: 1.5rem 3rem;
                        border-radius: 1rem;
                    }

                    margin-right: 4rem;
                }

                .Games
                {
                    /* Styles for the games button */
                    a
                    {
                        @include button($secondary, $light, 100%);
                        margin-right: 2rem;
                        padding: 1.5rem 3rem;
                        border-radius: 1rem;
                    }

                    border-right: 4px solid $light;
                    margin-right: 2rem;
                }
            }

            .searchGame
            {
                display: flex;
                align-items: center;

                form
                {
                    .input-group
                    {
                        position: relative;
                        display: flex;
                        align-items: center;

                        input
                        {
                            width: 100%;
                            padding: 1.5rem 10rem;
                            border-radius: 1rem;
                            border: 2px solid $light;
                            background-color: $secondary;
                            color: $light;
                        }

                        .input-icon
                        {
                            position: absolute;
                            left: 0.5rem;
                            pointer-events: none;
                            color: $primary;
                        }

                        input[type="text"]
                        {
                            padding-left: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px)
{
    .normalMenu
    {
        .firstRow
        {
            // Display as column and centered
            flex-direction: column;
            align-items: center;

            .logo-details
            {
                margin-top: 2rem; // Increase margin for logo-details
            }

            .flags
            {
                margin-top: 2rem; // Increase margin for flags
            }

            .userSession
            {
                margin-top: 2rem; // Increase margin for userSession
            }
        }

        .secondRow
        {
            .borderr
            {
                flex-direction: column;

                .navButtons
                {
                    display: block;
                    flex-direction: column;

                    .News
                    {
                        /* Styles for the news button */
                        a
                        {
                            /*padding: 1.5rem 3rem;*/
                        }
                    }

                    .Games
                    {
                        /* Styles for the games button */
                        a
                        {
                            /*padding: 1.5rem 3rem;*/
                        }

                        border: none;
                    }
                }

                .searchGame
                {
                    display: block;

                    form
                    {
                        .input-group
                        {
                            position: relative;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
