@import '../Utilities/_variables.scss', '../Utilities/_mixins.scss';

.userpageConfig
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .firstRow
    {
        border-bottom: 2px solid $light;

        .seeFav
        {

            div
            {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                a
                {
                    @include button($primary, $light);
                }
            }
        }

        .changeAvatar
        {
        }
    }

    .secondRow
    {
        border-bottom: 2px solid $light;

        .changePreferedLanguage
        {
        }

        .changeBirthday
        {
        }
    }

    .thirdRow
    {
        .changePassword
        {
        }

        .deleteUser
        {


            div
            {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                a
                {
                    @include button($red, $light);
                }
            }
        }
    }
}
.formUserPage
{
    margin-top: 1rem;

    label
    {
        @include label();
    }

    input
    {
        @include input();
    }

    select
    {
        @include input();
    }

    @include select();

    .error
    {
        color: $primary;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        background-color: $terciary;
        margin-bottom: 1rem;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        list-style: none;
    }

    .mainButton
    {
        @include button($terciary, $light, 100%);
        @include outline($secondary);
        margin-left: auto;
        margin-bottom: 1rem;
    }
}

