@import 'colors';

// Body
$body-bg: #222831;
$body-color: $light;
$border-color: $light;

// Typography
$font-family-sans-serif: 'Playfair Display', serif;
$font-size-base: 1.7rem;
$line-height-base: 1.6;

