@model Support.UpdateWebLanguageModel

@{
    ViewData[ "Title" ] = "Admin - Update Text for the web";
}

<main class="home-section">
    <div class="text">
        <h1>Text for the Web</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="Createform">
                <form asp-controller="WebLanguage" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">ID:</label>
                            <input asp-for="id" placeholder="id" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="name">Name:</label>
                            <input asp-for="name" placeholder="Name" />
                        </div>
                        <div>
                            <label asp-for="icon">Icon:</label>
                            <input required asp-for="icon" placeholder="flag icon" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>
                    </div>

                </form>
            </section>
        }

    </div>
</main>