@import '../Utilities/_variables.scss', '../Utilities/_mixins.scss';

.create
{
    display: flex;

    a
    {
        margin-top: 2rem;
        text-decoration: none;
        @include button($primary, $light, 100%);
        @include outline;
        border-radius: 1rem;

        @media (max-width: 767px)
        {
            margin-top: 2rem;
            max-width: 100%;
        }
    }
}

.Createform
{
    .tox:not([dir=rtl])
    {
        margin-bottom: 2rem;
    }

    .error
    {
        @include error();
    }

    div
    {

        @media (max-width: 767px)
        {
            flex-wrap: wrap;
        }



        div
        {

            label
            {
                @include label($light);
            }

            .required
            {
                color: $primary;
            }


            input
            {
                @include input();
            }

            input[type="checkbox"]
            {
                @include input();
                height: 3rem;
            }

            select
            {
                @include input();
            }

            @include select();

            button
            {
                @include button($primary, $light);
            }

            textarea
            {
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }
}
