@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Genres";
}
<main class="home-section">
    <div class="text">
        <h1>Genres</h1>

        <h3>This is the Users tab. all registered users information will be displayed here.</h3>
    </div>
</main>