@model Support.ModelList
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model.platformList)
    {
        <h1>@item.id : @item.platform</h1>

    }
</div>
