<nav>
    <div class="sidemenu menu-collapsed">
        @*Header*@
        <div class="header">
            <div class="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>

        @* Banner *@
        <div class="banner">
            <div class="photo">
                <picture>
                    <source srcset="~/img/Banner/Logo.webp" type="image/webp">
                    <img loading="lazy" src="~/img/Banner/Logo.png" alt="Gamer Nest Banner">
                </picture>
            </div>
        </div>

        @*Items*@
        <div class="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><i class="fa-solid fa-house"></i></div>
                    <div class="title">Home</div>
                </a>
            </div>
        </div>
    </div>
</nav>
