
<nav class="sidebar">
    <div class="logo-details">
        <img class="" src="~/img/Banner/Logo.png" alt="Banner">
        <div class="logo_name">Gamer Nest</div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                <span class="links_name">Users</span>
            </a>
            <span class="tooltip">Users</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user-tie"></i>
                <span class="links_name">Authors</span>
            </a>
        <span class="tooltip">Authors</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-file-lines"></i>
                <span class="links_name">Articles</span>
            </a>
            <span class="tooltip">Articles</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-gamepad"></i>
                <span class="links_name">Games</span>
            </a>
            <span class="tooltip">Games</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-code"></i>
                <span class="links_name">Devs</span>
            </a>
            <span class="tooltip">Devs</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-upload"></i>
                <span class="links_name">Publishers</span>
            </a>
            <span class="tooltip">Publishers</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-layer-group"></i>
                <span class="links_name">Platforms</span>
            </a>
            <span class="tooltip">Platforms</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-dragon"></i>
                <span class="links_name">Genres</span>
            </a>
            <span class="tooltip">Genres</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-volume-high"></i>
                <span class="links_name">Languages</span>
            </a>
            <span class="tooltip">Languages</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chess"></i>
                <span class="links_name">Player Types</span>
            </a>
            <span class="tooltip">Player Types</span>
        </li>
        
        <li class="profile">
            <hr />
            <div class="profile-details">
                <img class="" src="~/img/Banner/Logo_Dark.png" alt="Banner">
                <div class="name_job">
                    <div class="name">Cristina Carbonell Matamoros</div>
                    <div class="job">Admin</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</nav>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
    }
</script>
